html,
body {
    padding: 0;
    margin: 0;
    background-color: rgba(7, 29, 85, 0.69);
    width: 100%;
    background-image: url("https://the-creepy-guy.web.app/assets/background/bg-nom.png");
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

canvas {
    display: block;
    box-shadow: rgba(39,56,94, 0.25) 0px 54px 55px, rgba(39,56,94, 0.12) 0px -12px 30px, rgba(39,56,94, 0.12) 0px 4px 6px, rgba(39,56,94, 0.17) 0px 12px 13px, rgba(39,56,94, 0.09) 0px -3px 5px;
}